p{
    font-size: 15px;
}

#E{
color: rgb(22, 40, 56);
}

#F{
color: rgb(78, 59, 34);
}

#M{
color: rgb(138, 138, 44);
}

#A{
color: blueviolet;
}

#Ma{
color: aquamarine;
}

#J{
color: red;
}

#Jl{
color: violet;
}

#Ag{
color: orange;
}

#S{
color: black;
}

#O{
color: brown;
}

#N{
color: yellowgreen;
}

#D{
color: yellow;
}